{% extends 'base.html.twig' %}

{% block title %}Article | détails{% endblock %}

{% block body %}
<hr>
<section class="mt-4">
        <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-post">
                                <img class="img-fluid" width="400" src="{{asset('img/'~ article.image)}}" alt="{{ article.slug }}">
                                <ul class="tags">
                                    {% for cat in article.categorie %}
                                    <li><a href="#">- {{ cat.nom}}&nbsp; </a> </li>
                                    {% endfor %}
                                </ul>
                                    <h1>
                                       {{article.titre}}
                                    </h1>
                                <p>
                                    {{ article.description | raw }}
                                </p>

                                 <p>
                                    Publié par : {{article.user.email}}...
                                    <h5><a href="#" class="badge badge-danger" >Contacter le vendeur</a></h5>
                                </p>

                            </div>
                        </div>

                    </div>
        </div>
    </section>

    {% endblock %}